@page "/Account/Register"
@using HotelManagement.Services

@inject IdentityRedirectManager RedirectManager

@inject IUserService UserService

<PageTitle>Register</PageTitle>


<div class="row d-flex justify-content-center">
    <div class="col-md-5">
        <h1>Register</h1>
        <CreateUserForm  OnSuccess="HandleRegisterSuccess"/>
    </div>
</div>

@code {
    private void HandleRegisterSuccess() => RedirectManager.RedirectTo("Account/Login");

}
