@using HotelManagement.Components.Account.Shared


@inject IUserService UserService
@inject ILogger<EditProfileForm> Logger


<StatusMessage Message="@_message" />
<EditForm Model="Input" method="post" OnValidSubmit="EditProfileAsync" FormName="edit-staff" Enhance="true">
    <DataAnnotationsValidator />
    <hr />
    <div class="row">
        <input type="hidden" value="@Input.Id" name="Input.Id" />
        <div class="col-sm-6">
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.FirstName" class="form-control" aria-required="true" placeholder="First Name" id="firstname"/>
                <label for="firstname">First Name</label>
                <ValidationMessage For="() => Input.FirstName" class="text-danger"/>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.LastName" class="form-control" aria-required="true" placeholder="Last Name" id="lastname"/>
                <label for="lastname">Last Name</label>
                <ValidationMessage For="() => Input.LastName" class="text-danger"/>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                <label for="email">Email</label>
                <ValidationMessage For="() => Input.Email" class="text-danger"/>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.ContactNumber" class="form-control" aria-required="true" placeholder="contact number"/>
                <label for="contactNumber">Contact Number</label>
                <ValidationMessage For="() => Input.ContactNumber" class="text-danger"/>
            </div>
        </div>
        @if (Role.HasValue && Role != RoleType.Guest)
        {
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.Designation" class="form-control" aria-required="true" placeholder="Designation"/>
                    <label for="designation">Designation</label>
                    <ValidationMessage For="() => Input.Designation" class="text-danger"/>
                </div>
            </div>
        }
        else
        {
            <input type="hidden" value="@Input.Designation" name="Input.Designation"/>
        }
    </div>

    <div>
        <button type="submit" class="btn btn-sm btn-primary">Update Profile</button>
    </div>
</EditForm>

@code {

    [CascadingParameter]
    private HttpContext HttpContext { get; set; }

    [Parameter]
    public RoleType? Role { get; set; }

    [Parameter, EditorRequired]
    public string UserId { get; set; }

    [Parameter]
    public EventCallback OnSuccess { get; set; }

    [SupplyParameterFromForm]
    private ProfileModel Input { get; set; } = new();
        
    private string? _message = null;

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            var model = await UserService.GetUserProfileDetailsAsync(UserId, default);

            if (model == null)
            {
                _message = "User does not exist";
                return;
            }

            Input = model;
        }
        
    }

    public async Task EditProfileAsync(EditContext editContext)
    {
        var result = await UserService.UpdateUserProfileAsync(Input, Role, default);

        if (!result.IsSuccess)
        {
            _message = result.ErrorMessage;
            return;
        }

        Logger.LogInformation($"User details updated successfully. UserId: {UserId}.");

        await OnSuccess.InvokeAsync();
    }
}

